<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron content">
<h1 class="align-center">
    {{ title }}!
</h1>
<div class="row justify-content-md-center margin-bottom-r">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Into your name:" #newNumber>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="getNumber(newNumber.value)">Go!</button>
            </span>
        </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="alert alert-success" role="alert">
            {{ resultNumber }}.
        </div>
    </div>
</div>