/* You can add global styles to this file, and also import other style files */
body{
    width: 800px;
    font-size: 18px;
}

.content{
    align-content: center;
    margin-left: 10%;
    width: 80%;
}

.margin-bottom-r{
    margin-bottom: 30px;
}

.align-center{
    text-align: center;
}